[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs-powerline"]
	path = emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline
[submodule "python-mode"]
	path = python-mode
	url = https://github.com/emacsmirror/python-mode
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/emacsmirror/auto-complete
[submodule "popup"]
	path = popup
	url = https://github.com/auto-complete/popup-el
[submodule "evil-nerd-commenter"]
	path = evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-leader"]
	path = evil-leader
	url = https://github.com/cofi/evil-leader
